<!DOCTYPE html>
<html>
	<head>
	  <title>Listing <%= @listing.id %></title>
	</head>
	<body>
		<h5>Id: <%= @listing.id %></h5>
		<h5>Address: <%= @listing.address %></h5>
		<h5>Price: <%= @listing.price %></h5>
		<h5>Showing Dates: <%= @listing.showing_dates %></h5>
		<h5>Utilities: <%= @listing.utilities %></h5>
		<h5>Bedrooms: <%= @listing.bedrooms %></h5>
		<h5>Bathrooms: <%= @listing.bathrooms %></h5>
		<h5>Car Parks: <%= @listing.car_parks %> </h5>
		<h5>Extra Info: <%= @listing.extra_info %></h5>
		<%= form_tag "/listings/#{@listing.id}" do %>
		<%= submit_tag "Delete Listing", :action => 'delete' %>
		<% end %>
	</br>
		<%= link_to 'Edit Listing', "/listings/#{@listing.id}/edit" %>
	</body>
</html>
